<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>SoftGym</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/images/SOFTGYM.jpg" alt="SoftGym Logo" width="110" height="50">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href="/admin/service" class="nav-link">Dịch vụ</a></li>
                        <li class="nav-item"><a href="/admin/customer" class="nav-link">Khách hàng</a></li>
                        <li class="nav-item"><a href="/admin/staff" class="nav-link">Nhân viên</a></li>
                        <li class="nav-item"><a href="/admin/equipment" class="nav-link">Thiết bị</a></li>
                        <li class="nav-item"><a href="/admin/product" class="nav-link active">Sản phẩm</a></li>
                        <li class="nav-item"><a href="/admin/pt" class="nav-link">Huấn luyện viên</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Doanh số</a></li>
                    </ul>
                </div>

                <button class="nav-item btn btn-outline-dark ms-2">
                    <i class="bi bi-person-circle"></i> Login
                </button>
            </div>
        </nav>
    </header>

    <div class="container my-3 bg-light-subtle">
        <div class="container d-flex justify-content-center">
            <h3>Danh sách Gói tập</h3>
        </div>
        <div class="container my-2">
            <form class="d-flex" role="search" id="searchForm">
                <input class="form-control me-2" id="searchInput" type="search"
                    placeholder="Nhập tên hoặc mã dịch vụ... " aria-label="Search" name="IDOrName">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="container">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <th><button class="btn btn-dark">Mã sản phẩm</button></th>
                    <th><button class="btn btn-dark">Tên sản phẩm</button></th>
                    <th><button class="btn btn-dark">Giá nhập</button></th>
                    <th><button class="btn btn-dark">Giá bán</button></th>
                    <th><button class="btn btn-dark">Số lượng</button></th>
                    <th>
                        <div class="dropdown-center">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Ngày nhập
                            </button>
                            <div class="dropdown-menu p-3">
                                <label for="filterEntryDate" class="form-label">Chọn ngày nhập</label>
                                <input class="form-control" type="date" name="entryDate" id="filterEntryDate">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown-center">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Ngày hết hạn
                            </button>
                            <div class="dropdown-menu p-3">
                                <label for="filterExpiryDate" class="form-label">Chọn ngày hết hạn</label>
                                <input class="form-control" type="date" name="expiryDate" id="filterExpiryDate">
                            </div>
                        </div>
                    </th>

                    <th><select class="btn btn-dark " name="filterStatus" id="filterStatus">
                            <option value="all" selected>Trạng thái</option>
                            <option value="Bán">Bán</option>
                            <option value="Ngừng bán">Ngừng bán</option>
                        </select></th>
                    <th><button class="btn btn-dark" onclick="filteProduct()">Lọc</button></th>
                </thead>
                <tbody id="tableBody">
                    <tr th:each="product : ${products}" th:id="${product.ID}">
                        <td th:text="${product.ID}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.purchase_price}"></td>
                        <td th:text="${product.sale_price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.entry_date}"></td>
                        <td th:text="${product.expiry_date}"></td>
                        <td th:text="${product.status}"></td>
                        <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                th:attr="onclick='showInforProduct(' + ${product.ID} + ')'">
                                ...
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Button trigger modal -->
        <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">
                Thêm dịch vụ
            </button>
        </div>
    </div>



    <!-- Modal add product-->
    <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addProductLabel">Chi tiết gói tập mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">Tên sản phẩm</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="purchasePrice" class="col-sm-2 col-form-label">Giá nhập</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="purchasePrice" name="purchase_price">
                        </div>
                        <label for="salePrice" class="col-sm-2 col-form-label">Giá bán</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="salePrice" name="sale_price">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="entryDate" class="col-sm-2 col-form-label">Ngày nhập</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="entryDate" name="entry_date">
                        </div>
                        <label for="expiryDate" class="col-sm-2 col-form-label">Ngày hết hạn</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="expiryDate" name="expiry_date">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="status" class="col-sm-3 col-form-label">Trạng thái: </label>
                        <div class="col-sm-3">
                            <select name="status" id="status" class="form-select">
                                <option value="Bán" selected>Bán</option>
                                <option value="Ngừng bán">Ngừng bán</option>
                            </select>
                        </div>
                        <label for="quantity" class="col-sm-3 col-form-label">Số lượng</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" id="quantity" name="quantity">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="description" class="col-sm-4 col-form-label">Mô tả</label>
                        <div class="col-sm-8">
                            <textarea class="input-group" rows="3" name="description" id="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addNewProduct()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal showInFor-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin chi tiết sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Body -->
                <div class="modal-body" id="serviceDetails">
                    <div class="mb-3 row">
                        <label for="productID" class="col-sm-4 col-form-label">Mã sản phẩm</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="productID" name="ID" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productName" class="col-sm-4 col-form-label">Tên sản phẩm</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="productName" name="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productPurchasePrice" class="col-sm-2 col-form-label">Giá nhập</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="productPurchasePrice" name="purchase_price">
                        </div>
                        <label for="productSalePrice" class="col-sm-2 col-form-label">Giá bán</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="productSalePrice" name="sale_price">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productEntryDate" class="col-sm-2 col-form-label">Ngày nhập</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="productEntryDate" name="entry_date">
                        </div>
                        <label for="productExpiryDate" class="col-sm-2 col-form-label">Ngày hết hạn</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="productExpiryDate" name="expiry_date">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productStatus" class="col-sm-3 col-form-label">Trạng thái: </label>
                        <div class="col-sm-3">
                            <select name="status" id="productStatus" class="form-select">
                                <option value="Bán" selected>Bán</option>
                                <option value="Ngừng bán">Ngừng bán</option>
                            </select>
                        </div>
                        <label for="productQuantity" class="col-sm-3 col-form-label">Số lượng</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" id="productQuantity" name="quantity">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productDescription" class="col-sm-4 col-form-label">Mô tả</label>
                        <div class="col-sm-8">
                            <textarea class="input-group" rows="3" name="description"
                                id="productDescription"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="updateService()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white py-4 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <h5 class="text-uppercase">Về chúng tôi</h5>
                    <p>SoftGym cung cấp dịch vụ thể hình chất lượng cao với đội ngũ huấn luyện viên chuyên nghiệp. Chúng
                        tôi luôn nỗ lực mang lại sức khỏe và sự thoải mái cho khách hàng.</p>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <h5 class="text-uppercase">Liên hệ</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-geo-alt"></i> Địa chỉ: Số 123, Đường ABC, TP. HCM</li>
                        <li><i class="bi bi-phone"></i> Điện thoại: 0123456789</li>
                        <li><i class="bi bi-envelope"></i> Email: support@softgym.com</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <div class="d-flex justify-content-center">
                        <h5 class="text-uppercase">Theo dõi chúng tôi</h5>
                    </div>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="me-3"><a href="https://www.facebook.com/ngoCanh.1510204" class="text-white"><i
                                    class="bi bi-facebook"></i></a></li>
                        <li class="me-3"><a href="https://www.facebook.com/chicgtligg" class="text-white"><i
                                    class="bi bi-twitter"></i></a></li>
                        <li class="me-3"><a href="https://www.facebook.com/vu.cuong.11150" class="text-white"><i
                                    class="bi bi-instagram"></i></a></li>
                        <li><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2024 SoftGym. Tất cả quyền được bảo vệ.</p>
        </div>
    </footer>

    <script src="/JS/admin_product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>