<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>SoftGym</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="/images/SOFTGYM.jpg" alt="SoftGym Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/service}">Dịch Vụ</a></li>
                <li><a href="#">Lịch Tập</a></li>
                <li><a href="#">Chính Sách Giá</a></li>
                <li><a href="#">CLB</a></li>
                <li><a href="#">Khuyến Mãi</a></li>
            </ul>
        </nav>
        <button class="login-btn">Login</button>
    </header>

    <div class="banner" style="background-image: url('/images/young-fitness-man-studio\ 1.png');">
        <div class="banner-text">
            <h1 class="banner-title">SoftGym - Hiện đại - Đa dạng</h1>
            <p class="banner-description">
                Chúng tôi dùng mọi lỗ lực của mình để giúp bạn yêu cơ thể của mình hơn mỗi ngày.
            </p>
            <a href="#" class="btn btn-custom">Tham gia ngay →</a>
        </div>
    </div>
    <div style="background-color: gray;" class="mt-3">
        <h2 style="text-align: center;"><b>CÁC DỊCH VỤ CỦA CHÚNG TÔI</b></h2>
        <p style="text-align: center; padding-left: 20%; padding-right: 20%; font-size: 20px;"><b>Luyện tập tại CityGym giúp bạn đạt được mục tiêu sức khỏe và hình thể</b></p>
    </div>

    <div style="background-color: gray;" class="mt-1">
        <div class="row mt-2" style="padding: 15px 20px;">
            <style>
                .card {
                
                    background-size: cover; /* Bao phủ toàn bộ thẻ mà không bị méo hình */
                    background-position: center; /* Hiển thị phần trung tâm của ảnh */
                    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
                    width: 100%; /* Đảm bảo chiều rộng phù hợp */
                    height: 450px; /* Đặt chiều cao tùy ý hoặc phù hợp với nội dung */
                    border-radius: 10px; /* Bo góc cho đẹp, tùy chỉnh */
                }
            </style>
            <div class="col">
                <div class="card" style="background-image: url('/images/yoga.png');">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn-custom">Xem ngay</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="background-image: url('/images/persionalTrainer.png');">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn-custom">Xem ngay</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="background-image: url('/images/boxing.png');">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn-custom">Xem ngay</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="background-image: url('/images/other.png');">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn-custom">Xem ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{/service}" class="btn" style="text-align: center; margin-top: 0; border-radius: 20px; background-color: red; padding: 10px 30px; align-items: center; color: antiquewhite;"><b>Xem thêm →</b></a>
        </div>
    </div>

    <div class="background-container mt-5">
        <!-- Wrapper để đảm bảo nội dung nằm phía trên lớp phủ -->
        <div class="container card-wrapper p-5 ">
            <h2 style="text-align: center; color: aliceblue;"><b>CAU CHUYEN CUA CHUNG TOI</b></h2>
            <p style="text-align: center; color: aliceblue;"><b>Hãy yêu cơ thể hơn mỗi ngày</b></p>
            <div class="row" style="background-color: aliceblue;">
                <div class="col m-1 mt-1" >
                    <div class="card p-2">
                        <img src="/images/image 11.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title mb-2" style="text-align: center;"><b>Chế độ ăn tập GYM như nào là tốt nhất</b></h4>
                            
                        </div>                      
                    </div>
                </div>

                <div class="col m-1 mt-1" >
                    <div class="card p-2">
                        <img src="/images/image 11.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title mb-2" style="text-align: center;"><b>Chế độ ăn tập GYM như nào là tốt nhất</b></h4>
                        </div>

                    </div>
                </div>

                <div class="col m-1 mt-1" >
                    <div class="card p-2">
                        <img src="/images/image 11.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title mb-2" style="text-align: center;"><b>Chế độ ăn tập GYM như nào là tốt nhất</b></h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" >
        <div class="col-12 col-lg-7">
            <h2 style="padding-left: 10%;"><b>Before & After</b></h2>
            <p style="padding-left: 10%; padding-top: 5%; font-size: 23px;">Luyện tập tại CityGym để có cơ hội thay đổi ngoại hình một cách ngoạn mục</p>
            <br>
            <p style="padding-left: 10%; font-size: 23px;">Việc luyện tập đều đặn tại CityGym và đúng kỹ thuật, cùng với một chế độ dinh dưỡng hợp lý
                sẽ giúp cải thiện vóc dáng một cách rõ rệt. Huấn luyện viên tại CityGym thiết kế chương trình tập dựa trên những thông tin về chỉ số cơ thể
                , tình trạng sức khỏe của bạn nhằm giúp bạn thấy rõ sự thay đổi ngoạn mục chỉ trong khoảng từ 6-8 tuần.
            </p>
        </div>
        <div class="col-12 col-lg-5">
            <img src="/images/long nach.png" alt="Before & After" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-5">
            <img src="/images/bmi.png" alt="Before & After" style=" padding-left: 20%;">
        </div>
        <div class="col-12 col-lg-7">
            <h5 style="text-align: center; font-size: 23px;"><b>Tính BMI(Chỉ số cơ thể)</b></h5>
            <p style="padding-left: 5%;">Đo chỉ số BMI để biết được tình trạng cơ thể của bạn ngay lúc này</p>
            <br>
            <p style="padding-left: 5%; font-size: 23px;">CityGym hỗ trợ hội viên đo chỉ số BMI trước và trong quá trình tập luyện để có thể
                theo dõi sự thay đổi của cơ thể một cách chính xác nhất. Chỉ số BMI giúp bạn biết được cơ thể của mình đang ở tình trạng nào, từ đó có thể
                điều chỉnh chế độ tập luyện và dinh dưỡng phù hợp nhất. BMI là chỉ số khối cơ thể (Body Mass Index) được tính dựa trên cân nặng và chiều cao của bạn,
                 được các bác sĩ và chuyên gia dinh dưỡng sử dụng để đánh giá tình trạng cơ thể của một người. Hãy đến với chúng tôi để được đo chỉ số BMI miễn phí 
                 và tư vấn lộ trình tập luyện phù hợp nhất.
            </p>
        </div>
    </div>
    <footer class="mt-3">
        <div class="footer-left">
            <img src="" alt="SoftGym Logo">
            <p><img src="">0912345678</p>
            <p><img src="">Nhà tập, số 4, Phố Lê Thanh Nghị, Q. Hai Bà Trưng, TP Hà Nội</p>
            <p><img src="">Thời gian: Thứ Hai - Thứ Sáu: 6.00 đến 23.00 và Thứ Bảy - Chủ Nhật: 8.00 đến 22.00</p>
        </div>
        <div class="footer-middle">
            <ul>
                <li><a href="#">Phương thức thanh toán</a></li>
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Câu lạc bộ</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <p>Mạng xã hội</p>
            <ul class="social-icons">
                <li><a href="#"><img src="" alt="Facebook"></a></li>
                <li><a href="#"><img src="" alt="TikTok"></a></li>
                <li><a href="#"><img src="" alt="Instagram"></a></li>
                <li><a href="#"><img src="" alt="YouTube"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright 2024 @ CTIGYM. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>